@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #1a1919;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #080808;
    border-radius: 6px;
}